.listPath{
    width: 6px;
    height: 6px;
    background:blue;
    border-radius:100%;
    offset-path: path('M95 80 A35 35, 0, 1, 0, 95 95 L115 80 Z');
    animation: moves 5s linear infinite;
    position: absolute;
    left:60px;
    top:-23px;
}
@keyframes moves {
    100%{
        offset-distance: 100%;
    }
}
.pathcircle{
    width: 5px;
    height: 5px;
    background: aqua;
    border-radius: 100%;
    position: absolute;
    left:170px;
    top:35px;
    offset-path: path('M80 80 l20 -20 l 20 20 a10 10 0 1 0 20 -20 l20 -20 l20 20 a10 10 0 1 0 20 -20 l-20 -20 l20 -20 l-20 -20');
    animation: moves 5s linear infinite;
}