.list-wrap{
  width:500px;
  height:300px;
  position: absolute;
  left: 400px;
  top: 100px;
}
.list-title{
  width: 100px;
  display: flex
}
.list-title i{
  display: block;
  width: 6px;
  height:20px;
  background: pink;
  margin-right: 10px
}